/*
!/bin/
!/.*
/.mozilla
/.cache
/.local
/.mail
/.icons
/.yadm
/.rfc
/.kodi
/.opam
/.pyenv
/.themes
/.virtualenvs
/.thunderbird
/.sup
/.thumbnails
/.npm
/.fasd
/.strash

.DS_*

*.log
*.swp
*.swo

*secret*
*hist*
*viminfo*
*compdump*

*password*
*export*


