/*
!/bin/
!/.*
/.mozilla
/.config
/.cache
/.local
/.mail
/.icons
/.yadm
/.rfc
/.kodi
/.opam
/.pyenv
/.themes
/.virtualenvs
/.thunderbird
/.sup
/.thumbnails
/.npm
**/secrets
**/*secret*
**/*history*
**/.zcompdump
