/*
!/bin/
!/.*
/.mozilla
/.cache
/.local
/.mail
/.icons
/.yadm
/.rfc
/.kodi
/.opam
/.pyenv
/.themes
/.virtualenvs
/.thunderbird
/.sup
/.thumbnails
/.npm
/.fasd
/.strash

.DS_*

log
*.log
*.swp
*.swo
*.sqlite
*.db

*secret*
*hist*
*viminfo*
*compdump*

*password*
*export*

/.gtm/
